aiofiles==0.6.0
certifi==2020.12.5
chardet==4.0.0
fastapi==0.63.0
idna==2.10
Jinja2==2.11.3
pydantic==1.8.1
PyJWT==2.0.1
python-arango==7.1.0
requests==2.25.1
requests-toolbelt==0.9.1
setuptools-scm==6.0.1
starlette==0.13.6
toml==0.10.2
typing-extensions==3.7.4.3
urllib3==1.26.4


